@model Tasks
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "AddTask";
}

<h1>AddTask</h1>

<form asp-controller="Tasks" asp-action="AddTask" method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(t => t.UserId)</td>
            <td>@Context.Session.GetString("UserId")</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(t => t.TaskDescription)</td>
            <td>@Html.EditorFor(t => t.TaskDescription)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(t => t.DueDate) (Format ex.): 2020.10.10</td>
            <td>@Html.EditorFor(t => t.DueDate)</td>
        </tr>
    </table>
</form>

