@model Tasks

@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "AddTaskForm";
}

<h1>AddTaskForm</h1>

<form asp-controller="Tasks" asp-action="AddTaskDB" method="post">
    <table>
        <tr>
            <td>@Html.LabelFor(t => t.UserId)</td>
            <td>@ViewData["UID"]</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(t => t.TaskDescription)</td>
            <td>@Html.EditorFor(t => t.TaskDescription)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(t => t.DueDate)</td>
            <td><input id="DueDate" type="datetime-local" name="DueDate" /></td>
            @*<td>@Html.EditorFor(t => t.DueDate)</td>*@
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

